body {
    background-color:#708090;
    margin-left:auto;
	margin-right:auto;
	padding-top:25px;
	padding-bottom:25px;
	padding-right:50px;
	padding-left:50px;
    }
#image{opacity:0.1;	}

#twitter{
	position:fixed;
	top:5px;
	left:1210px;
	height:2em;
	width:2em;
		}
#login{
	position:absolute;
	left:1100px;
	top:10px;
}

#register{
	position:absolute;
	left:1145px;
	top:10px;
}
		
#namaste{
	position:absolute;
	left:5px;
	top:5px;
	height:8em;
	width:8em;
}

#links{
	position:absolute;
	top:120px;
	left:200px;
	color:black;
	font-size:19;
}

td {
	width:190px;
	}
h1{color:white;}

#image_gallery{
	position:absolute;
	top:350px;
	left:100px;
	height:30px;
	width:300px;
}

#section_right{
	padding-top:25px;
	padding-bottom:25px;
	padding-right:50px;
	padding-left:50px;
}

#discount{
	position:absolute;
 	top:500px;	
	height:9em;
	width:9em;
	left:1100px;
	decoration:blink;
}

#signup{
	position:absolute;
 	top:250px;
    left:1070px;
}

#map{
	position:fixed;
	top:300px;
	left:800px;
	height:20em;
	width:20em;
	
}
#contact_info{
	position:fixed;
	top:350px;
	left:400px;	
}

#text{
	position:absolute;
    left:400px;
    top:400px;
text-align:justify;
font-family:"cursive",Zapf Chancery, cursive;
line-height:2em;
    height:40px;
    width:600px;
}
