#border{
        border-style:solid;
        border-width:2px;
padding-left:8%;
padding-right:8%;
padding-top:2%;
padding-bottom:2%;
}
html>body
{
width: auto;
min-width: 40px;


  background-position: 50% 50%;

}

#background_image{
	z-index:-1;
	position: absolute;
	left:10%;
	opacity:0.5;
	height: 40em;
	width:60em;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
#logo{
	  padding-left:10px;
	  padding-top:1px;
	  
}

#svn{
	height:10em;
	width:12em;
}

#address{
       padding-left:10px;
	  padding-top:1px;
}

#one_stop{
    padding-left:10px;	
}

#regis{
	position:absolute;
	left:790;
	top:130px;
	opacity:0.8;
}

#soon{
	position:absolute;
    top:70px;
    left:1000px;
	height:8em;
	width:10em;
	}

#links{
	   border-style:solid;
       border-width:1px;
	   background-color:#C8C8C8;   
	}
	
#navigation{
	 padding-left:70px;
}	
	
td {
	width:250px;
	font-size:150%;
	}
	
#image_gallery{
	padding-left:50px;
	padding-right:50px;	
	padding-top:20px;
}

#im1,#im2,#im3,#im4,#im5,#im6{
	height:8em;
	width:8em;
}

#blank{
	padding-bottom:100px;	
}


#contact_info{
padding-left:400px;
line-height: 200%;
font-size:12px;
padding-bottom:100px;
}

#map{
 	height:10em;
	width:10em;
} 

#section_down{
	   border-style:solid;
       border-width:1px;
	   background-color:#C8C8C8;   
	
}
