<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body >
<h1>SV Groceries</h1>
<img id= namaste src="/images/namaste.gif">
<img id=image src="/images/swamy.jpg">
<a id = login href="login.html">Login</a>
<a id = register href="register.html">Register</a>g
<form id='content'>
<a id = home href="about.html">Home</a>
<a id = products href="http://janova.us/">Products</a>
<a id = new_stuff href="blog.html">New Arrivals</a>
<a id = Contact href="contact.html">Contact Us</a>
</form>
<img id ="twitter" src ="/images/twitter.gif"> 

</body>
</html>