<table id="display" colspan="2">
  <tr>
    <td>
      <div id="shop_pic">
      <img id= "shop" src="/images/shop.jpg"></td>
      </div>
    </td>
    <td>
      <div id="notes">
        The Best Indian Spices Store for Authentic Indian Food, Indian Spices, Indian Sweets, Indian Grains, Cooking Ingredients and Recipes.</br></br>
        Here at Sv Groceries, we are dedicated to provide you with a wide selection of Ground Spices, Whole Spices, Beans, Lentils, Appetizers, Snacks, Masalas, Pastes, Pickles, Indian Sweets, Desserts and much more.
      </div>
    </td>
  </tr>
</table>