<html>
  <head>
    <center>
       
    </center>
    
    <div id = 'section_middle'>
      <div id="text">
<h2>
    Please Check back our website for opening date, promotions & offers.   
</h2>    
      </div>
    </div>

   
    </body>
</html>

