<html>
  <head>
 
    <div id = 'image_gallery'>
      <marquee behavior="scroll" direction="down"><img src="images/boost.jpg" scrollamount="10" width="200" height="200" alt="1" /></marquee>
      <marquee behavior="scroll" direction="down"><img src="images/chickenmasala.jpg" scrollamount="10" width="200" height="200" alt="2" /></marquee>
      <marquee behavior="scroll" direction="down"><img src="images/sona.jpg"  scrollamount="10" width="200" height="200" alt="3" /></marquee>
      <marquee behavior="scroll" direction="down"><img src="images/idly.jpg" scrollamount="10" width="200" height="200" alt="4" /></marquee>
    </div>


    <div id = 'section_middle'>

    </div>

    <div id = 'section_down'>

    </div>

    <div id = 'section_right'>
      <img id='signup' src="images/signup.gif"></img>   
      <img id='discount' src="images/discount.png"></img>
    </div>

    </body>
</html>