<html>
  <head>
    <center>
     <img id=image src="/images/swamy.jpg">        
    </center>
    <div id = 'tab_bar'>
      <table id = 'links'>
        <tr>
          <td>
            <a id = home href="home">Home</a>
          </td>      
          <td>
            <a id = products href="products">Products</a>
          </td>      
          <td>
            <a id = new_stuff href="new_stuff">New Arrivals</a>
          </td>      
          <td>  
            <a id = Contact href="contact">Contact Us</a>
          </td></tr></table>
    </div>
    
    
    <div id = 'image_gallery'>
      <marquee behavior="scroll" direction="down"><img src="images/boost.jpg" scrollamount="10" width="200" height="200" alt="1" /></marquee>
      <marquee behavior="scroll" direction="down"><img src="images/chickenmasala.jpg" scrollamount="10" width="200" height="200" alt="2" /></marquee>
      <marquee behavior="scroll" direction="down"><img src="images/sona.jpg"  scrollamount="10" width="200" height="200" alt="3" /></marquee>
      <marquee behavior="scroll" direction="down"><img src="images/idly.jpg" scrollamount="10" width="200" height="200" alt="4" /></marquee>
    </div>


    <div id = 'section_middle'>
      <div id="text">
        The essence of the Indian culture is deeply rooted in time-honored family traditions, a sense of community and home cooked meals. The beauty of our culture and our cuisine brings us together. We consider it our social responsibility to keep our traditions alive and share them with family and friends. We is committed to bringing our customers the best in traditions and food, the best of India
      </div>
    </div>

    <div id = 'section_down'>

    </div>

    <div id = 'section_right'>
      <img id='signup' src="images/signup.gif"></img>   
      <img id='discount' src="images/discount.png"></img>
    </div>

    </body>
</html>