<html>

  <div id="border">
    <div id="top_box">
        <marquee behavior="scroll" >Great Price!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Great Quality!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Great Service!</marquee>
        
    <table>    
     <tr>
       <td>
           <div id="logo">    
              <img id= "svn" src="/images/svg.jpg">     
            </div>    
           </td>
           <td style="width:500px"></td>
           <td >
            <div id= "address">

                7600 E Parkmeadows Drive,<br> 
                Suite 850, Lone Tree, Co-80124<br>
                Ph (303)-459-4929
            </div>
            </td>
            </tr>
            <tr> <td colspan="3">           
              <div id= "one_stop">
                One stop destination for all your needs!
              </div>
              </td>
              </tr>
            </div>
            <table>
  
    <div >
      <table id = "navigation">
        <tr>
          <td>
            <a id = home href="home">Home</a>
          </td>      
          <td>
            <a id = products href="show">Products</a>
          </td>           
          <td>  
            <a id = Contact href="contact">Contact Us</a>
          </td>
          <td>
            <a id = register href="register">Register</a>
          </td>
          </tr>
      </table>
    </div>
       
     <div id = 'image_gallery'>
        <marquee behavior="scroll" direction="left">
          <img id=im1 src="images/brookebondredlabel_pop.jpg","images/sona.jpg" scrollamount="5" width="150" height="200" alt="1" />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img id=im2 src="images/sona.jpg" scrollamount="5" width="150" height="200" alt="1" />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img id=im3 src="images/chickenmasala.jpg" scrollamount="5" width="150" height="200" alt="1" />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img id=im4 src="images/bharatsonamasooririce_pop.jpg" scrollamount="5" width="150" height="200" alt="1" />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img id=im5 src="images/boost.jpg" scrollamount="5" width="150" height="200" alt="1" />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img id=im6 src="images/idly.jpg" scrollamount="5" width="150" height="200" alt="1" />

          </marquee>
      </div>
    <div id="section_down">
        <center>
      <p>       SV Groceries , LLC., 7600 E Parkmeadows Drive,#850, Lone Tree, Colorado -80124  © 2009 All rights reserved. 
     </p>
        </center>
      
    </div>
    </div>

</html>