<html>
  <head>
    <div id = 'tab_bar'>
      <table id = 'links'>
        <tr>
          <td>
            <a id = home href="home">Home</a>
          </td>      
          <td>
            <a id = products href="show">Products</a>
          </td>           
          <td>  
            <a id = Contact href="contact">Contact Us</a>
          </td></tr></table>
    </div>
  
    <div id = 'name'>

        <a id = register href="register">Register</a>
       
        <img id= namaste src="/images/namaste.gif">    
    </div>
    
    
    <div id = 'image_gallery'>
      <marquee behavior="scroll" direction="down"><img src="images/boost.jpg" scrollamount="1" width="200" height="200" alt="1" /></marquee>
    </div>


    <div id = 'section_middle'>
      <div id="text">
        A one stop place for spices,fresh vegetables, frozen Indian foods and much more...</br>
        Opening shortly, Register for exciting offers and coupons !
      </div>
    </div>

    <div id = 'section_right'>
      <img id= soon src="/images/soon.jpg">    
    </div>

    </body>

</html>


