<html>
  <head>
    <div id = "great">
      <marquee behavior="scroll" >Great Price!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Great Quality!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Great Service!</marquee>

    </div>
    <div id ='logo'>
    <center>
     <img id= namaste src="/images/svg.jpg">    
    </center>
    </div>
    <div id ="reg1">
      <img id= reg src="/images/regis.jpg">    
      </div>
<img id= god src="/images/god.jpg">
    <div id = 'tab_bar'>
      <table id = 'links'>
        <tr>
          <td>
            <a id = home href="home">Home</a>
          </td>      
          <td>
            <a id = products href="show">Products</a>
          </td>           
          <td>  
            <a id = Contact href="contact">Contact Us</a>
          </td>
          <td>
            <a id = register href="register">Register</a>
          </td>
          </tr>
          
          </table>
    </div>
  
    <div id = 'name'>

    </div>
    
    
    <div id = 'image_gallery'>
      <marquee behavior="scroll" direction="left">
        <img src="images/boost.jpg","images/sona.jpg" scrollamount="5" width="150" height="200" alt="1" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="images/sona.jpg" scrollamount="5" width="150" height="200" alt="1" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/chickenmasala.jpg" scrollamount="5" width="150" height="200" alt="1" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="images/bharatsonamasooririce_pop.jpg" scrollamount="5" width="150" height="200" alt="1" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/brookebondredlabel_pop.jpg" scrollamount="5" width="150" height="200" alt="1" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/idly.jpg" scrollamount="5" width="150" height="200" alt="1" />
        
        </marquee>
    </div>


    <div id = 'section_middle'>
      <div id="text">
        A one stop destination for spices,fresh vegetables, frozen Indian foods and much more...</br>
        Opening shortly, Register for exciting offers and coupons !
      </div>
    </div>

    <div id = 'section_right'>
      <img id= soon src="/images/soon.jpg">    
    </div>
    <div id = 'section_down'>
      <center>
    <p>       SV Groceries , LLC., 7600 E Parkmeadows Drive,#850, Lone Tree, Colorado -80124  © 2009 All rights reserved. 
   </p>
      </center>
    </div>

    </body>

</html>


