<html>

  <div id="border">
    <div id="top_box">
        <marquee behavior="scroll" >Great Price!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Great Quality!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Great Service!</marquee>
        
    <div id=logo>    
      <img id= svn src="/images/svg.jpg">     
    </div>    
    <div id= address>
      <center>
      <h2>
        7600 E Parkmeadows Drive,<br> 
        Suite 850, Lone Tree, Co-80124<br>
        Ph (303)-459-4929
      </h2>  
      </center> 
    </div>
    
      <div id= one_stop>
        <h3> One stop destination for all your needs!<h3>
      </div>
    </div>
    

    <div id=links>
      <table id = 'navigation'>
        <tr>
          <td>
            <a id = home href="home">Home</a>
          </td>      
          <td>
            <a id = products href="show">Products</a>
          </td>           
          <td>  
            <a id = Contact href="contact">Contact Us</a>
          </td>
          <td>
            <a id = register href="register">Register</a>
          </td>
          </tr>
      </table>
    </div>

      <table id='contact_info'>
        <tr>
          <td>
            <img id="map" src="images/map.png"></img>
          </td>
          <td>
          <div id=add_info>
      <p>
        Contact Info: </br></br>
        Email Id: contact@svgroceries.com </br>
      </p>
      
       <p>
       Address:</br>
  
       7600 E Parkmeadows Drive,</br>
       #850, Lone Tree,</br>
       Colorado -80124</br>
       </p>
       
 <a id='directions'  href="http://maps.google.com/maps?hl=en&q=7600+Park+Meadows+Dr+%23+850,+Lone+Tree,+CO-80124&um=1&ie=UTF-8&hq=&hnear=7600+Park+Meadows+Dr,+Lone+Tree,+CO+80124&gl=us&ei=QxC1TZ_nKs-3twfektTpDg&sa=X&oi=geocode_result&ct=title&resnum=1&ved=0CBUQ8gEwAA">For directions click here !</a>
         <td>
        </div>
      </tr>
      </table>

     <div id=section_down>
         <center>
       <p>       SV Groceries , LLC., 7600 E Parkmeadows Drive,#850, Lone Tree, Colorado -80124  © 2009 All rights reserved. 
      </p>
         </center>

     </div>
    </div>

 </html>