<div id = 'tab_bar'>
  <table id = 'links'>
    <tr>
      <td>
        <a id = home href="home">Home</a>
      </td>      
      <td>
        <a id = products href="products">Products</a>
      </td>      
      <td>
        <a id = new_stuff href="new_stuff">New Arrivals</a>
      </td>      
      <td>  
        <a id = Contact href="contact">Contact Us</a>
      </td></tr></table>
</div>
<div>
<center>
<img id="construction" src="/images/construction.gif"></img>
</center>
</div>
