<html>

  <div id="border">
    <div id="top_box">
        <marquee behavior="scroll" >Great Price!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Great Quality!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Great Service!</marquee>
        
    <div id=logo>    
      <img id= svn src="/images/svg.jpg">     
    </div>    
    <div id= address>
      <center>
      <h2>
        7600 E Parkmeadows Drive,<br> 
        Suite 850, Lone Tree, Co-80124<br>
        Ph (303)-459-4929
      </h2>  
      </center> 
    </div>
    
      <div id= one_stop>
        <h3> One stop destination for all your needs!<h3>
      </div>
    </div>
    
    <div id=os >
       <img id= regis src="/images/regis.jpg">
       <img id= soon src="/images/soon.jpg">  
    </div>
    
    <div id=links>
      <table id = 'navigation'>
        <tr>
          <td>
            <a id = home href="home">Home</a>
          </td>      
          <td>
            <a id = products href="show">Products</a>
          </td>           
          <td>  
            <a id = Contact href="contact">Contact Us</a>
          </td>
          <td>
            <a id = register href="register">Register</a>
          </td>
          </tr>
      </table>
    </div>
<center>
<h2>Please check back again,</br></br>
   to checkout the latest Products!</h2>
<center>
   <div id=blank>
   </div>
   <div id=blank>
    </div>
    <div id=section_down>
         <center>
       <p>       SV Groceries , LLC., 7600 E Parkmeadows Drive,#850, Lone Tree, Colorado -80124  © 2009 All rights reserved. 
      </p>
         </center>

     </div>
</div>
</html>