<div id = 'tab_bar'>
  <table id = 'links'>
    <tr>
      <td>
        <a id = home href="home">Home</a>
      </td>      
      <td>
        <a id = products href="show">Products</a>
      </td>           
      <td>  
        <a id = Contact href="contact">Contact Us</a>
      </td>
      <td>
        <a id = register href="register">Register</a>
      </td>
      </tr></table>
</div>
<div>

<h2>Please check back again,</br></br>
   to checkout the latest Products!</h2>

</div>
