<div id = 'tab_bar'>
  <table id = 'links'>
    <tr>
      <td>
        <a id = home href="home">Home</a>
      </td>      
      <td>
        <a id = products href="show">Products</a>
      </td>      
      
      <td>  
        <a id = Contact href="contact">Contact Us</a>
      </td>
      <td>
        <a id = register href="register">Register</a>
      </td>
      </tr></table>
</div>

<div id='contact_info'>
<p>
  Contact Info: </br></br>
  Email Id: contact@svgroceries.com </br>
</p>
<p>
  Address:</br>
  
  7600 E Parkmeadows Drive,</br>
  #850, Lone Tree,</br>
  Colorado -80124</br>
</p>
<a id='directions' href="http://maps.google.com/maps?hl=en&q=7600+Park+Meadows+Dr+%23+850,+Lone+Tree,+CO-80124&um=1&ie=UTF-8&hq=&hnear=7600+Park+Meadows+Dr,+Lone+Tree,+CO+80124&gl=us&ei=QxC1TZ_nKs-3twfektTpDg&sa=X&oi=geocode_result&ct=title&resnum=1&ved=0CBUQ8gEwAA">For directions click here !</a>
</div>
<img id="map" src="images/map.png"></img>