<table id='contact_info'>
  <tr>
       <td>
         <div id="add_info">
         <p>
           Contact Info: </br></br>
           Email Id: contact@svgroceries.com </br>
         </p>

          <p>
          Address:</br>

          7600 E Parkmeadows Drive,</br>
          #850, Lone Tree,</br>
          Colorado -80124</br>
          </p>

    <a id='directions'  href="http://maps.google.com/maps?hl=en&q=7600+Park+Meadows+Dr+%23+850,+Lone+Tree,+CO-80124&um=1&ie=UTF-8&hq=&hnear=7600+Park+Meadows+Dr,+Lone+Tree,+CO+80124&gl=us&ei=QxC1TZ_nKs-3twfektTpDg&sa=X&oi=geocode_result&ct=title&resnum=1&ved=0CBUQ8gEwAA">For directions click here !</a>

       </div>
     </td>
    <td>
      <img id="map" src="images/map.png"></img>
    </td>

  </tr>
</table>
