<div id='contact_info'>
<p>
  Contact Info: </br></br>
  Email Id: abc@gmail.com </br></br>
  Phone: 123 345 6789 </br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  987 654 3210</br></br>
</p>
<a id='directions' href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=4733+braddock+ct,columbus,ohio,43220&aq=&sll=37.0625,-95.677068&sspn=31.701751,69.169922&ie=UTF8&hq=&hnear=4733+Braddock+Ct,+Columbus,+Franklin,+Ohio+43220&ll=40.056297,-83.050289&spn=0.007473,0.016887&z=16">For directions click here !</a>

<img id="map" src="images/map.png"></img>