<table>
 <tr>
    <td>
      <ul>
      <li>Sooji</li>
      <li>Maida</li>
      <li>Atta Wheat Flour </li>
      <li>Besan (Gram Flour) </li>
      <li>Rice Flour </li>
      <li>Makkika Atta </li>
      <li>All Purpose Flour </li>
      <li>Sona Masoori Rice</li>
      </ul>
    </td>
    <td>
      <ul>

      <li>Traditional Basmati Rice</li>
      <li>Rice Tilda Pure Basmati Rice </li>
      <li>Fragrant Jasmine Rice </li>
      <li>Idli Rava</li>
      <li>Thin Poha</li>
      <li>Spices A-1 Anardana (Pomegranate Powder) </li>
      <li>Ajwain Seeds </li>
      <li>Amchur (Raw Mango Powder) </li>

      </ul>
    </td>
    <td>
      <ul>
      <li>Pomegranate Seeds </li>
      <li>Black Cardamoms Whole </li>
      <li>Black Cumin Seeds </li>
      <li>Black Mustard Seeds </li>
      <li>Charmagaz </li>
      <li>Chili Powder </li>
      <li>Cinnamon Powder </li>
      <li>Cinnamon Sticks </li>
      </ul>
    </td>
    <td>
      <li>Cloves </li>
      <li>Coriander Powder </li>
      <li>Coriander Seeds </li>
      <li>Cumin Powder </li>
      <li>seeds </li>
      <li>Curry Powder </li>
      <li>Pickle Masala</li>
      <li>Jeera Powder </li>
    </td>
</tr>
<tr>
    <td>
      <ul>
      <li>  Sesame Seed </li>
      <li>  Turmeric Powder </li>
      <li>Chutney Patak's Mild Major Grey Chutney</li>
      <li> Swad Chutney</li>
      <li>  Tara</li>
      <li>Beverages Mazza Mango </li>
      <li>Guava Drink </li>
      <li>Bournvita</li>
      </ul>
    </td>
    <td>
      <ul>
      <li> Complan </li>
      <li> Sweetened Kesar </li>
      <li> Coconut Milk </li>
      <li>Biscuits </li>
      <li>Crackers Britannia Biscuits </li>
      <li>Mcvities Cookies</li>
      <li>Parle-G Gluco Biscuits</li>
      <li>Piccadeli Cookies</li> 
     </ul>
    </td>
    <td>
      <ul>
      <li>Dals Moong Dal </li>
      <li>Toor Dal </li>
      <li>Red Lentil </li>
      <li>Urad Dal </li>
      <li>Red Kidney Beans</li>
      <li> Kabuli Chana (Chick Peas)</li>
      <li>  Moong Beans </li>
      <li>  Black Mapte </li>
      </ul>
    <td>
      <ul>  
      <li>Fennel Seeds </li>
      <li>Fresh Curry Leaves</li>
      <li>  Garlic Powder </li>
      <li>  Methi Seeds </li>
      <li>  Masoor Whole </li>
      <li>  Chana Dal (Split Bengal Gram)</li>
      <li>   Kala Chana </li>
      <li>   Moong Dal Chilka </li>
      <li>   Urad Dal Chilka </li>
      </ul>
    </td>
</tr>
<tr>
  
    <td>
      <ul>
      <li>Tea & Coffee Brooke Bond Tea </li>
      <li>Coffee Lipton Tea Tata Tea </li>
      <li>Ghee</li>
      <li> Edible Oil Amul Pure Ghee</li>
      <li>  Nanak </li>
      <li>  Maya Mustard Flavored Oil </li>
      <li>  KTC Pure Mustard Oil </li>
      <li>  Lal Qilla Pure Mustard Oil</li>
      <li>   Surabhi Coconut Oil</li>
      <li>    Laxmi Pure Ghee</li> 
      </ul>
    </td>
    <td>
    <ul>
    <li>Instant Mixes Ashoka Ready to Eat Mixes</li>
    <li> Gits Instant Mixes </li>
    <li> Manzoor A-1</li>
    <li>  MDH Mixes</li>
    <li>   MTR Instant Powder Mixes </li>
    </ul>
    </td>
    <td>
      <ul>
    <li>Papadoms Deep Homemade Style Papadoms</li>
    <li> Lijjat Papadoms</li>
    <li>  Laxmi Madrasi Plain Papadoms </li>
    <li>  Rani</li>
    <li>   Sago Wafers </li>
    </ul>
    </td>

  <td>
      <ul>
    <li>Sweets & Snacks Soan Papdi</li>
    <li> Gulab Jamuns </li>
    <li> Jam Phal</li>
    <li>  Rasgulla </li>
    <li>  Hot Mix </li>
    <li>  Khari Biscuits </li>
    <li>  Spicy Khatta Mitha Mixture</li>  
    </ul>
    </td>
 </tr>
</table>