<html>
<body>
<head>
  <%=stylesheet_link_tag 'style' %>
</head>
<title>SV Groceries</title>

<center>
 <h1>SV Groceries</h1>       
</center>
<div id = 'name'>
    <a id = login href="login">Login</a>
    <a id = register href="register">Register</a>
    <img id ="twitter" src ="/images/twitter.gif"> 
    <img id= namaste src="/images/namaste.gif">    
</div>




<%= yield%>
</body>
</html>